{% extends 'dashboard.html' %}
{% load static %}
{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/dashboard.css' %}">
    <link href="{% static 'calender/main.css' %}" rel="stylesheet" />
{% endblock %}
{% block dynamic_content %}
    <div class="row">
        <div class="col-md-3">
            <div class="event-list">
                <div class="event-current-ended">
                    <button id="currentEventsBtn" class="btn btn-light">Current Events</button>
                    <button id="endedEventsBtn" class="btn btn-light">Ended Events</button>
                </div>
                <div id="noEventsMessage" style="display: none;">
                    <p>No events available.</p>
                </div>

            </div>
        </div>
        <div class="col-md-9">
            <div class="calendar-section">
                <div id="calendar"></div>
            </div>
            <script>
                document.addEventListener('DOMContentLoaded', function() {
                    var calendarEl = document.getElementById('calendar');
                    var calendar = new FullCalendar.Calendar(calendarEl, {
                        // Konfiguracja kalendarza
                        headerToolbar: {
                            left: 'prev,next today',
                            center: 'title',
                            right: 'dayGridMonth,timeGridWeek,timeGridDay'
                        },
                        initialView: 'dayGridMonth',
                        eventDisplay: 'block', 
                        events: {{ events_json|safe }},
                        eventContent: function(arg) {
                            return {
                                html: '<h8 style="color: white;">' + arg.event.title + '</h8>',
                                backgroundColor: arg.event.extendedProps.color,
                                borderColor: arg.event.extendedProps.color
                            };
                        },
                    });
                    
                    calendar.render();
                    
                    filterEvents(false);
                    
                    document.getElementById('currentEventsBtn').addEventListener('click', function() {
                        filterEvents(false);  // false oznacza bieżące wydarzenia
                    });

                    document.getElementById('endedEventsBtn').addEventListener('click', function() {
                        filterEvents(true);  // true oznacza zakończone wydarzenia
                    });

                    // Funkcja do filtrowania wydarzeń
                    function filterEvents(ended) {
                        var eventList = document.getElementById('eventList');
                        var noEventsMessage = document.getElementById('noEventsMessage');

                        if (!eventList) {
                            // Utwórz listę wydarzeń, jeśli nie istnieje
                            eventList = document.createElement('ul');
                            eventList.className = 'event-list-items';
                            eventList.id = 'eventList';

                            // Dodaj listę do kontenera
                            document.querySelector('.event-list').appendChild(eventList);

                            // Dodaj wydarzenia do listy
                            for (var i = 0; i < {{ events_json|safe }}.length; i++) {
                                var eventItem = document.createElement('li');
                                eventItem.className = 'event-item';
                                eventItem.id = 'event-item-' + i;
                                
                                var eventContent = document.createElement('div');
                                eventContent.className = 'fc-event';

                                eventContent.innerHTML = '<h5>' + {{ events_json|safe }}[i].title + '</h5>' + '<p>' + new Date({{ events_json|safe }}[i].start).toLocaleString() + ' - ' + new Date({{ events_json|safe }}[i].end).toLocaleString() + '</p>';

                                eventItem.appendChild(eventContent);
                                eventList.appendChild(eventItem);
                            }
                        }

                        var eventItems = eventList.getElementsByClassName('event-item');

                        
                        if (eventItems.length === 0) {
                            noEventsMessage.style.display = 'block';
                        } else {
                            noEventsMessage.style.display = 'none';
                            for (var i = 0; i < eventItems.length; i++) {
                                var endTimestamp = new Date({{ events_json|safe }}[i].end).getTime();
                                var nowTimestamp = new Date().getTime();

                                if ((ended && endTimestamp <= nowTimestamp) || (!ended && endTimestamp > nowTimestamp)) {
                                    eventItems[i].style.display = 'block';
                                } else {
                                    eventItems[i].style.display = 'none';
                                }
                            }
                        }
                    }
                });
            </script>
        </div>
    </div>
{% endblock %}
