{% extends 'dashboard.html' %}
{% load static %}
{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/dashboard.css' %}">
    <link href="{% static 'calender/main.css' %}" rel="stylesheet" />
{% endblock %}
{% block dynamic_content %}
    <div class="row">
        <div class="col-md-3">
            <div class="event-list">
                <h4>Event List</h4>
                <ul class="event-list-items">
                    {% for event in event_list %}
                        {% if event.user == request.user and event.end_date > now %}
                            <li>
                                <div class="fc-event">
                                    <h3>{{ event.title }}</h3>
                                    <p>{{ event.start_date|date:"F d, Y" }} - {{ event.end_date|date:"F d, Y" }}</p>
                                    {% if event.description %}
                                        <p>Description: {{ event.description }}</p>
                                    {% endif %}
                                </div>
                            </li>
                        {% endif %}
                    {% empty %}
                        <p>No Events Found</p>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="col-md-9">
            <div class="calendar-section">
                <div id="calendar"></div>
            </div>
            <script>
                document.addEventListener('DOMContentLoaded', function() {
                    var calendarEl = document.getElementById('calendar');
                    var calendar = new FullCalendar.Calendar(calendarEl, {
                        // Konfiguracja kalendarza
                        headerToolbar: {
                            left: 'prev,next today',
                            center: 'title',
                            right: 'dayGridMonth,timeGridWeek,timeGridDay'
                        },
                        initialView: 'dayGridMonth',
                        
                        events: [
                            // Tutaj możesz dodać wydarzenia do kalendarza, jeśli są jakieś domyślne
                        ],
                        
                    });
                    
                    calendar.render();
                });
            </script>
        </div>
    </div>
{% endblock %}
