{% extends 'dashboard.html' %}
{% load static %}
{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/dashboard.css' %}">
    <link href="{% static 'calender/main.css' %}" rel="stylesheet" />
{% endblock %}
{% block dynamic_content %}
    <div class="row">
        <div class="col-md-3">
            <div class="event-list">
                <div class="event-current-ended">
                    <button id="currentEventsBtn" class="btn btn-light">Current Events</button>
                    <button id="endedEventsBtn" class="btn btn-light">Ended Events</button>
                </div>
                <div id="noEventsMessage" style="display: none;">
                    <p>No events available.</p>
                </div>

            </div>
        </div>
        <div class="col-md-9">
            <div class="calendar-section">
                <div id="calendar"></div>
            </div>
            <script>
                document.addEventListener('DOMContentLoaded', function() {
                    var calendarEl = document.getElementById('calendar');
                    var calendar = new FullCalendar.Calendar(calendarEl, {
                        // Konfiguracja kalendarza
                        headerToolbar: {
                            left: 'prev,next today',
                            center: 'title',
                            right: 'dayGridMonth,timeGridWeek,timeGridDay'
                        },
                        initialView: 'dayGridMonth',
                        eventDisplay: 'block',
                        events: {{ events_json|safe }},
                        eventContent: function(arg) {
                            return {
                                html: '<h8 style="color: white;">' + arg.event.title + '</h8>',
                                backgroundColor: arg.event.extendedProps.color,
                                borderColor: arg.event.extendedProps.color
                            };
                        },
                    });

                    calendar.render();

                    filterEvents(false);

                    document.getElementById('currentEventsBtn').addEventListener('click', function() {
                        filterEvents(false);  // false oznacza bieżące wydarzenia
                    });

                    document.getElementById('endedEventsBtn').addEventListener('click', function() {
                        filterEvents(true);  // true oznacza zakończone wydarzenia
                    });


    // Funkcja do filtrowania i sortowania wydarzeń
    function filterEvents(ended) {
        var eventList = document.getElementById('eventList');
        var noEventsMessage = document.getElementById('noEventsMessage');
        var eventsArray = {{ events_json|safe }};

        function compareEvents(a, b) {
                        var timestampA = new Date(a.end).getTime();
                        var timestampB = new Date(b.end).getTime();
                        if (ended) {
                        return timestampB - timestampA;  // Sortuj malejąco dla "Ended Events"
                        } else {
                            return timestampA - timestampB;  // Sortuj rosnąco dla "Current Events"
                        }
                    }

        var sortedEventsArray = eventsArray.slice().sort(compareEvents);

        if (!eventList) {
            // Utwórz listę wydarzeń, jeśli nie istnieje
            eventList = document.createElement('ul');
            eventList.className = 'event-list-items';
            eventList.id = 'eventList';

            // Dodaj listę do kontenera
            document.querySelector('.event-list').appendChild(eventList);
        }

        // Wyczyść listę przed dodaniem nowych elementów
        eventList.innerHTML = '';

        // Dodaj wydarzenia do listy
        for (var i = 0; i < sortedEventsArray.length; i++) {

            var eventItem = document.createElement('li');
            eventItem.className = 'event-item';
            eventItem.id = 'event-item-' + i;

            var eventContent = document.createElement('div');
            eventContent.className = 'fc-event';

            eventContent.innerHTML = '<h5>' + sortedEventsArray[i].title + '</h5>' + '<p>' + new Date(sortedEventsArray[i].start).toLocaleString() + ' - ' + new Date(sortedEventsArray[i].end).toLocaleString() + '</p>';

            eventItem.appendChild(eventContent);
            eventList.appendChild(eventItem);
        }

        if (sortedEventsArray.length === 0) {
            noEventsMessage.style.display = 'block';
        } else {
            noEventsMessage.style.display = 'none';

            // Iteruj przez posortowane elementy listy i ustaw ich widoczność
            var sortedEventItems = Array.from(eventList.getElementsByClassName('event-item')).sort(compareEvents);

            for (var i = 0; i < sortedEventItems.length; i++) {
                var endTimestamp = new Date(sortedEventsArray[i].end).getTime();
                var nowTimestamp = new Date().getTime();

                // Sprawdź, czy wydarzenie jest zakończone
                var isEventEnded = endTimestamp <= nowTimestamp;

                if ((ended && isEventEnded) || (!ended && !isEventEnded)) {
                    sortedEventItems[i].style.display = 'block';
                } else {
                    sortedEventItems[i].style.display = 'none';
                }
            }
        }
    }

                });
            </script>
        </div>
    </div>
{% endblock %}
