{% extends 'base.html' %}
{% load static %}
{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'style/dashboard.css' %}">
{% endblock %}
{% block content %}
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #5F9E70;">
        <span class="navbar-text text-white" style="font-size: 18px;">
            Hello, {{ username }}
        </span>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <form method="post" action="{% url 'logout' %}" class="d-flex">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-success btn-block" style="background-color: white; color: #5F9E70;">Logout</button>
                    </form>
                </li>
            </ul>
        </div>
    </nav>
       
    <div class="dashboard-content">
        <div class="menu">
            <div class="vertical-menu">
                <button disabled>Button 1</button>
                <button disabled>Button 2</button>
                <button disabled>Button 3</button>
                <button disabled>Button 4</button>
                <button disabled>Button 5</button>
            </div>
        </div>
        <div class="calendar-section">
            <div id="calendar"></div>
        </div>
    </div>

    <script>
        function enableButtons() {
            var buttons = document.querySelectorAll('.vertical-menu button');
            buttons.forEach(function(button) {
                button.removeAttribute('disabled');
            });
        }
        document.addEventListener('DOMContentLoaded', function() {
            var calendarEl = document.getElementById('calendar');
            var today = new Date();

            var calendar = new FullCalendar.Calendar(calendarEl, {
                headerToolbar: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'dayGridMonth,timeGridWeek,timeGridDay,list'
                },
                initialDate: today,
                navLinks: true,
                selectable: true,
                selectMirror: true,
                select: function(arg) {
                    console.log('clicked');
                    console.log(arg.start);
                    console.log(arg.end);
                    enableButtons();  // Now, enable buttons when a date is selected
                },
                // ...additional calendar configuration...
            });

            calendar.render();
        });
    </script>
{% endblock %}
